.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.line-content{
    display: none;

}

/*
Commenting below code as this functionality is improved in javascript dynamically
#formid_1001{
	display: block
}*/

#customerid{
	display: none;
}

body{
	background: #383a3d;
	padding-top: 1vh;	
}

.form-qty{
	height: calc(1.5em + .75rem + 20px);
	font-size: 2rem;
}

#custid{
	font-size: xx-large;
}

.cust-name{
	font-size: xx-large;
}

.hist{
	height:10%;
	overflow: auto;
	font-size: small;
	display: flex;
	flex-direction: column-reverse;
}

.hist td,.hist th{
	padding: 0;
    padding-right: 0.2rem;
    text-align: center;
    font-size: small;
}
